
/* BASIC ARCHITECTURE STYLE */

.container{
  display: grid;
  margin: auto;
  padding: 20px;
  height: 95%;
  width: 95%;
  border-width: 5px;
  border-style: solid;
  border-color: #4885ed;
  border-radius: 25px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: transparent;
}

.container2{
  display: grid;
  margin: auto;
  padding: 10px;
  height: 95%;
  width: 95%;
  border-width: 5px;
  border-style: solid;
  border-color: #4885ed;
  border-radius: 25px;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: transparent;
}

.row {
    text-align: center;
}

/*  SECTIONS  */

.section {
  clear: both;
  padding: 10px;
}

#sectionStyle {
  padding: 10px;
  border-width: 0.5px;
  border-style: solid;
  border-color: gray;
  border-radius: 15px;
  margin-bottom: 10px;
}

#sectionStyle2 {
  padding: 10px;
  margin-bottom: 20px;
  border-width: 0.5px;
  border-style: solid;
  border-color: gray;
  border-radius: 15px;
}

#sectionStyle3 {
  background-color: #e3f2fd;
  padding: 10px;
  border-radius: 15px;
}

/*  COLUMN SETUP  */

.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;

}

.col:first-child { margin-left: 0; }


form {
    font-family: 'Oswald', sans-serif;
}

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF FIVE  */
.span_5_of_5 {
  width: 100%;
}
.span_4_of_5 {
  width: 79.68%;
}
.span_3_of_5 {
  width: 59.36%;
}
.span_2_of_5 {
  width: 39.04%;
}
.span_1_of_5 {
  width: 18.72%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {  margin: 1% 0 1% 0%; }
  .span_1_of_5, .span_2_of_5, .span_3_of_5, .span_4_of_5, .span_5_of_5 { width: 100%; }

}

/* BUTTON STYLING */

.button {
    background-color: #4885ed;
    border: none;
    color: white;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    padding: 10px 40px;
    position: relative;
    transition: all 500ms ease; 
}

.button:before {
  content:'';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 42px;
  background: rgba(255,255,255,0.3);
  border-radius: 5px;
  transition: all 2s ease;
} 

.button:hover:before {
  width: 100%;
}

#buttonStyle, #home-address, #current-address, #custom-address, #logoff {
   text-align: center;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}

.chatbutton {
  background-color: #4885ed;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    padding: 5px 10px;
    font-family: 'Oswald', sans-serif;
}

/* STYLING FOR LOGO */

#imgStyle {
  text-align: center;
  max-width: 300px; 
}

#imgStyle2 {
  text-align: center;
  width: 90%;
}

#logoStyle {
  font-family: 'Alfa Slab One', cursive;
  font-size: 36px;
  color: #4885ed;
  opacity: 0.95;
}

/* FONT STYLES */

#fontStyle {
  font-family: 'Alfa Slab One', cursive;
  font-size: 40px;
  color: #4885ed;
  opacity: 0.95;
}

#fontStyle2 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 20px;
  color: #4885ed;
  opacity: 0.95;
}

#fontStyle3 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 16px;
  text-align: center;
  color: #4885ed;
  opacity: 0.95;
  margin-bottom: 5px;
}

/* ANIMATION */

@keyframes logoFadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes logoFadeIn2 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.first-fade {
  opacity: 0;
  animation-name: logoFadeIn;
  animation-duration: 2.0s;
  animation-fill-mode: forwards;
}

.second-fade {
  opacity: 0;
  animation-name: logoFadeIn2;
  animation-duration: 2.0s;
  animation-fill-mode: forwards;
}

/* RESULTS PAGE STYLE */

#map {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  max-width: 100%;
  min-height: 300px;
}

#chat {
  display: block;
  width: 100%;
}

#chat-messages {
  height: 250px;
  overflow: auto;
  padding: 5px;
  background-color: #ffffff;
  font-family: verdana;
  font-size: 14px;
  border-radius: 15px;
}

#chat-bar {
  display: block;
  max-width: 90%;
  text-align: center;
  margin-top: 5px;
}

#chat-input {
  padding: 5px;
  background-color: #ffffff;
  border-radius: 15px;
}

#reviewsBox {
  padding: 5px;
  background-color: #ffffff;
  font-family: verdana;
  font-size: 18px;
  height: 200px;

  border-radius: 15px;

}

#users-online {
  padding: 5px;
  background-color: #ffffff;
  font-family: verdana;
  font-size: 14px;
  border-radius: 15px;
}

/* STYLING FOR CHAT WINDOW */

.player1 {
  color: #419d78;
}

.player0 {
  color: #000;
}

/* INPUT, FORM STYLE */

#myForm, #custom-input, #new-user-form {
  font-family: verdana;
  text-align: center;
  font-size: 14px;
}

#userName, #userPass, #newUserName, #newUserPass, #newUserAddress, #custom-input{
  border-radius: 15px;
  border-width: 0.5px;
  margin-bottom: 20px;
  padding: 5px;
}