
/* BASIC ARCHITECTURE STYLE */

.container{
  display: grid;
  margin: auto;
  padding: 10px;
  margin-top: 10px;
/*  height: 600px;*/
  width: 90%;
  border-width: 5px;
  border-style: solid;
  border-color: #4885ed;
  border-radius: 25px;
}

/*.column {
  text-align: center;
}*/

.row {
    text-align: center;
/*    border-style: solid;
    border-width: 1px;
    border-color: black;*/
}

/*  SECTIONS  */

.section {
  clear: both;
/*  padding: 10px;/**/
  margin: 10px;*/
/*  border-width: 1px;
  border-style: dashed;
  border-color: gray;*/
}

#sectionStyle {
/*  background-color: #e3f2fd;*/
  padding: 10px;
  border-width: 0.5px;
  border-style: solid;
  border-color: #e3f2fd;
  border-radius: 15px;
  margin-bottom: 10px;
}

#sectionStyle2 {
  background-color: #e3f2fd;
  padding: 10px;
/*  border-width: 0.5px;
  border-style: solid;
  border-color: gray;*/
  border-radius: 15px;
}

/*  COLUMN SETUP  */

.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;

}

.col:first-child { margin-left: 0; }



/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF FIVE  */
.span_5_of_5 {
  width: 100%;
}
.span_4_of_5 {
  width: 79.68%;
}
.span_3_of_5 {
  width: 59.36%;
}
.span_2_of_5 {
  width: 39.04%;
}
.span_1_of_5 {
  width: 18.72%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {  margin: 1% 0 1% 0%; }
  .span_1_of_5, .span_2_of_5, .span_3_of_5, .span_4_of_5, .span_5_of_5 { width: 100%; }
}



.button {
    background-color: #4885ed;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    padding: 10px 40px;
    font-family: 'Oswald', sans-serif;
}

.chatbutton {
  background-color: #4885ed;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    padding: 5px 10px;
    font-family: 'Oswald', sans-serif;
}


form {
    font-family: 'Oswald', sans-serif;

}

#imgStyle {
  text-align: center;
  width: 50%;
}

#imgStyle2 {
  text-align: center;
  width: 90%;
}

#logoStyle {
  font-family: 'Alfa Slab One', cursive;
  font-size: 36px;
  color: #4885ed;
  opacity: 0.95;
}

#fontStyle {
  font-family: 'Alfa Slab One', cursive;
  font-size: 28px;
  color: #4885ed;
  opacity: 0.95;
}

#fontStyle2 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 20px;
  color: #4885ed;
  opacity: 0.95;
}

#fontStyle3 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 16px;
  text-align: center;
  color: #4885ed;
  opacity: 0.95;
  margin-bottom: 5px;
}



/* ANIMATION */

@keyframes logoFadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes logoFadeIn2 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.first-fade {
  opacity: 0;
  animation-name: logoFadeIn;
  animation-duration: 2.0s;
  animation-fill-mode: forwards;
}

.second-fade {
  opacity: 0;
  animation-name: logoFadeIn2;
  animation-duration: 2.0s;
  animation-fill-mode: forwards;
/*  animation-delay: 0.5s;
*/}



#map {
  display: block;
  margin: auto;
  margin-bottom: 10px;
/*  margin-right: auto;
  margin-left: auto;*/
  max-width: 100%;
  min-height: 300px;
}


#chat {
  display: block;
/*  margin-right: auto;
  margin-left: auto;*/
  width: 100%;


}

#chat-messages {
  height: 150px;
  overflow: auto;
/*  background-color: #fffcf7;
      border-width: 1px;
  border-style: dashed;
  border-color: gray;*/
  padding: 5px;
  background-color: #ffffff;
  font-family: verdana;
  font-size: 14px;
      border-radius: 15px;
}

#chat-bar {
  display: block;
/*  margin-right: auto;
  margin-left: auto;*/
  max-width: 90%;
  text-align: center;
  margin-top: 5px;

}

#chat-input {
/*    background-color: #fffcf7;
      border-width: 1px;
  border-style: dashed;
  border-color: gray;*/
  padding: 5px;
  background-color: #ffffff;
      border-radius: 15px;


}

#reviewsBox {

/*        border-width: 0.5px;
  border-style: dashed;
  border-color: gray;*/
  padding: 5px;
  background-color: #ffffff;
    font-family: verdana;
  font-size: 18px;


}

#users-online {
/*  background-color: linen;
  font-size: 14px;
    background-color: #fffcf7;
      border-width: 1px;
  border-style: dashed;
  border-color: gray;*/
  padding: 5px;
  background-color: #ffffff;
    font-family: verdana;
  font-size: 14px;
    border-radius: 15px;
}

.player1 {
  color: #419d78;
}

.player0 {
  color: #000;/*
  background-color: #d3d3d3;*/
}
